@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');


:root {
    --link:     rgb(180,0,0);
    --black:    #1A2030;
    --white:    white;
    --eee:      #eee;
    --font:     'Fira Sans', sans-serif;
    --font1:    'Source Code Pro', monospace;
}

*               { padding: 0; margin: 0; }
html,body       { font-family: var(--font); color: var(--black); font-size: 14px; }
a               { color: var(--link); text-decoration: none; }
a:hover			{ color: var(--black); }
a.z             { color: var(--black); }
a.z:hover		{ color: var(--link); }

body            { max-width: 1280px; margin: 0.5em auto 2em auto; padding: 0 15px; box-sizing: border-box; }
h1,h2,h3,h4     { margin: 1.2em 0 0.4em 0; font-weight: bold; }

input           { font-size: inherit; background-color: white; padding: 8px 10px; border-radius: 4px; border: solid 1px #aaa; box-sizing: border-box; }
input:focus     { outline: solid 3px #eee; }
button          { font-size: inherit; background-color: #eee; padding: 8px 16px; border-radius: 4px; border: solid 1px #ccc; box-sizing: border-box; cursor: pointer; }
button:hover    { background-color: #ccc; }

*::-webkit-scrollbar        { width: 8px; height: 8px; background-color: inherit; }
*::-webkit-scrollbar-thumb  { border-radius: 1px; background: #ccc; }


/* main */

.main1          {  margin: 5em auto; display: flex; gap: 6vw; align-items: flex-start; }
.main1 .pic1        { width: 100%; max-width: 300px; margin-top: -7em; transform: rotate(-10deg); }
.main1 .pic1.active { margin-top: -6em; transform: rotate(-2deg); }
.main1 .login       { width: 300px; display: flex; justify-content: space-between; align-items: center; gap: 1ch; padding: 15px 20px; background-color: #eee; border-bottom: solid 1px #ddd; border-radius: 6px; box-shadow: 0 20px 40px -28px var(--black); }
.main1 .login .email         { width: 200px; flex-grow: 1; }
.main1 .login .code          { width: 80px; text-align: center; }
.main1 .login div.err        { font-size: 0.8em; color: var(--link); margin-top: 2px; }
.main1 .login div.err:empty  { display: none; }
.main1 .login input.err      { border: solid 2px var(--link); }
.main1 .login + .note        { font-size: 0.9em; margin-top: 0.8em; }
.main1 .login + .note > *:not(.active)   { display: none; }
.main1 .login + .note .back              { width: fit-content; border-bottom: solid 1px #ccc; cursor: pointer; }

.main1 .auth > *:not(.active)    { display: none; }

.main1 .userlist    { margin-top: 2em; display: flex; gap: 2ch; flex-wrap: wrap; }
.main1 .userlist > *    { background-color: #eee; padding: 6px 10px; border-radius: 3px; }


/* pack */

.nav1               { display: flex; justify-content: space-between; border-bottom: solid 1px #eee; padding: 5px 0 3px 0; margin-bottom: 2em; position: sticky; top: -1px; background-color: var(--white); z-index: 5; }
.nav1 .logo         { text-transform: uppercase; font-size: 14px; }
.nav1 .logo b       { font-weight: normal; }
.nav1 .bc           { display: flex; align-items: center; gap: 0.3ch; }
.nav1 .bc *:first-child { margin-left: -0.5ch; }
.nav1 .bc i         { font-style: normal; color: #ddd; font-size: 10px; }
.nav1 .bc > a       { padding: 4px 1ch; }
.nav1 .opt          { display: flex; }
.nav1 .opt > *      { padding: 4px 1ch; }
.nav1 .opt > .sep   { display: inline-block; width: 1ch; }
.nav1 .opt > .save  { margin-right: 2ch; }
.nav1 .opt > .b     { font-weight: bold; }
.nav1 .active       { color: inherit; background-color: #eee; border-radius: 3px; margin-left: 0.5ch; }
.nav1 .current      { color: inherit; }


/* project */

.pro                { display: flex; gap: 2vw; }
.pro > .tree        { flex-basis: 180px; padding: 0 2vw 0 4px; border-right: solid 1px #eee; }
.pro > .tree .name > a      { padding: 3px; display: inline-block; }
.pro > .tree .active        { background-color: #eee; border-radius: 3px; cursor: default; }
.pro > .tree .active > a    { color: inherit; }
.pro > .tree .project       { margin-top: 0.2em; }
.pro > .tree .project > a   { font-weight: bold; }
.pro > .tree .sub           { margin-left: 0.3ch; padding-left: 2ch; }


.pro > .file        { flex-basis: content; flex-grow: 1; line-height: 1.4em; }
.pro > .file *:not(img):empty   { height: 1em; }
.pro > .file  img           { max-width: 100%; }
.pro > .file > pre          { background-color: #eee; padding: 1ch 1.5ch; max-width: max-content; border-radius: 1px; }
.pro > .file > div > h1     { margin: 0 0 0.5em 0; }
.pro > .file > div > h2     { margin: 0 0 0.4em 0; }
.pro > .file > div > h3     { margin: 0 0 0.3em 0; }
.pro > .file > div > h4     { margin: 0 0 0.2em 0; }
.pro > .file > div > h5     { margin: 0 0 0.1em 0; }
.pro > .file a[target="_blank"]  { text-decoration: underline; text-decoration-color: #ccc; }




/* editor */

form.tree  .ace     { font-family: 'Source Code Pro'; font-size: 13px; width: 100%; height: 30em; border: none; background-color: transparent; }
form.tree  .ace_scroller    { margin-left: 1ch; }
form.tree  .submit  { display: flex; justify-content: space-between; align-items: baseline; gap: 2ch; border-top: solid 1px #eee; padding: 2vh 1vw 0 1vw; }
form.tree  .save    { display: block; }


/* access */

.access             { width: fit-content; margin: 3em auto; }
.access table       { border-collapse: collapse; }
.access table td    { padding: 10px; border: solid 1px #ccc; }
.access table tr:hover   { background-color: #eee; }
.access table input { width: 100%; box-sizing: border-box; }

.access form        { margin: 1em 0; display: flex; gap: 1ch; }
.access form input  { flex-grow: 1; }