:root {
    --link:     rgb(180,0,0);
    --black:    #1A2030;
    --eee:      #eee;
    --font:     'PT Sans', sans-serif;
}

*               { padding: 0; margin: 0; }
html,body       { font-family: var(--font); color: var(--black); font-size: 15px; }
a               { color: var(--link); text-decoration: none; }
a:hover			{ color: var(--black); }

body            { max-width: 1024px; margin: 2em auto; padding: 0 15px; box-sizing: border-box; }
h1,h2,h3,h4     { margin: 1.2em 0 0.4em 0; font-weight: bold; }

input           { font-size: inherit; background-color: white; padding: 8px 10px; border-radius: 4px; border: solid 1px #aaa; box-sizing: border-box; }
input:focus     { outline: solid 3px #eee; }
button          { font-size: inherit; background-color: #eee; padding: 8px 16px; border-radius: 4px; border: solid 1px #ccc; box-sizing: border-box; cursor: pointer; }
button:hover    { background-color: #ccc; }


/* main */

.main.top           {  margin: 5em auto; display: flex; gap: 6vw; align-items: flex-start; }
.main.top .logo     { opacity: 0.2; }
.main.top .login        { width: 300px; display: flex; justify-content: space-between; align-items: center; gap: 1ch; padding: 15px 20px; background-color: #eee; border-bottom: solid 1px #ddd; border-radius: 6px; box-shadow: 0 20px 40px -28px var(--black); }
.main.top .login .email         { width: 200px; flex-grow: 1; }
.main.top .login .code          { width: 80px; text-align: center; }
.main.top .login div.err        { font-size: 0.8em; color: var(--link); margin-top: 2px; }
.main.top .login input.err      { border: solid 2px var(--link); }
.main.top .login + .note        { font-size: 0.9em; margin-top: 0.8em; }
.main.top .login + .note > *:not(.active)   { display: none; }
.main.top .login + .note .back              { width: fit-content; border-bottom: solid 1px #ccc; cursor: pointer; }

.main.top .auth > *:not(.active)    { display: none; }



/* pack */

.nav1               { display: flex; justify-content: space-between; border-bottom: solid 1px #eee; padding-bottom: 3px; margin-bottom: 2em; }
.nav1 .logo         { text-transform: uppercase; font-size: 12px; letter-spacing: 0.1ch; }
.nav1 .bc           { display: flex; align-items: center; gap: 0.3ch; }
.nav1 .bc .current  { color: inherit; font-weight: bold; }
.nav1 .bc .current:hover  { color: var(--link); }
.nav1 .bc i         { font-style: normal; color: #ddd; font-size: 10px; }
.nav1 .bc > a       { padding: 4px 1ch; }
.nav1 .bc .active   { font-weight: bold; color: inherit; cursor: default; }
.nav1 .opt          { display: flex; }
.nav1 .opt > a      { padding: 4px 1ch; }
.nav1 .opt .active  { color: inherit; background-color: #eee; cursor: default; border-radius: 3px; }


.pro                { display: flex; gap: 2vw; }
.pro > .tree          { flex-basis: 180px; padding: 0 1vw 0 4px; border-right: solid 1px #eee; }
.pro > .tree .name > a      { padding: 3px; display: inline-block; }
.pro > .tree .active        { background-color: #eee; cursor: default; }
.pro > .tree .project > a   { font-weight: bold; }
.pro > .tree .sub           { margin-left: 0.3ch; padding-left: 2ch; }

form.tree  .save    { display: block; margin: 3em 0 0 0; }




