:root {
    --link:     rgb(180,0,0);
    --black:    #1A2030;
    --eee:      #eee;
    --font:     'PT Sans', sans-serif;
}

*               { padding: 0; margin: 0; }
html,body       { font-family: var(--font); color: var(--black); }
a               { color: var(--link); text-decoration: none; }
a:hover			{ color: var(--black); }

body            { font-size: 14px; max-width: 1024px; margin: 2em auto; padding: 0 15px; box-sizing: border-box; }
h1,h2,h3,h4     { margin: 1.2em 0 0.4em 0; font-weight: bold; }


.nav1               { display: flex; justify-content: space-between; border-bottom: solid 1px #eee; padding-bottom: 3px; margin-bottom: 2em; }
.nav1 .bc           { display: flex; align-items: center; gap: 0.3ch; }
.nav1 .bc i         { font-style: normal; color: #ddd; font-size: 10px; }
.nav1 .bc > a       { padding: 4px 1ch; }
.nav1 .bc .active   { font-weight: bold; color: inherit; cursor: default; }
.nav1 .opt          { display: flex; }
.nav1 .opt > a      { padding: 4px 1ch; }
.nav1 .opt .active  { color: inherit; background-color: #eee; cursor: default; border-radius: 3px; }


.pro                { display: flex; gap: 2vw; }
.pro > .tree          { flex-basis: 180px; padding: 0 1vw 0 4px; border-right: solid 1px #eee; }
.pro > .tree .name > a    { padding: 3px; display: inline-block; }
.pro > .tree .sub         { margin-left: 0.3ch; padding-left: 2ch; 8border-left: solid 1px #eee; }

.pro > .rows        {  }


.flex1          { display: flex; gap: 2em; }
.flex1 .loc     { flex-basis: content; border: solid 1px #eee; padding: 10px; box-sizing: border-box; }
.flex1 .inc     { flex-basis: content; border: solid 1px #eee; padding: 10px; box-sizing: border-box; }
.flex1 .list    { flex-basis: 300px; flex-grow: 1; }
.flex1 .list > div    { margin-bottom: 2em; }
.flex1 .list > div > .key       { display: block; font-weight: bold; }
.flex1 .list > div > .file      { display: inline-block; background-color: var(--link); color: white; padding: 2px 6px; }
.flex1 .list > div > .message   { margin-top: 3px; }


.t2          { padding-top: 1em; margin: 2em 0 23em 0; line-height: 1.6em;; }
.t2 .p       { margin-left: 3ch; }
.t2 .p:first-child { margin-left: 0;; }

.pre1   { padding: 5px; border: solid 1px #ddd; }


.arr1       { border-collapse: collapse; }
.arr1 td   { padding: 5px 15px; border: solid 1px #eee; }



